<?xml version="1.0"?>
<launch>

	<!-- Start the youbot -->
	<include file="$(find cleaner_alpha)/launch/youbot_driver.launch" />

	<!-- Set transformation parameters -->
	<param name="transform_cloud_topic" type="string" value="/laser_point_cloud"/>
	<param name="base_link" type="string" value="/base_link"/>


	<!-- Launch torque controller node -->
	<node name="torque_control" pkg="torque_control" type="torque_control" cwd="node" output="screen"/>

</launch>
