<?xml version="1.0"?>
<launch>

	<!-- Start the youbot -->
	<include file="$(find cleaner_alpha)/launch/youbot_driver.launch" />

	<!-- Upload youbot model to parameter server --> 
	<!-- TODO: copy youbot.urdf.xacro -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find grab_demo)/robots/youbot.urdf.xacro" />

	<!-- Set transformation parameters -->
	<param name="transform_cloud_topic" type="string" value="/laser_point_cloud"/>
	<param name="base_link" type="string" value="/base_link"/>

	<!-- start laser assembler -->
	<node type="laser_scan_assembler" pkg="laser_assembler" name="laser_assembler">
		<remap from ="cloud" to="laser" />
		<param name="max_clouds" type="int" value="200" />
		<param name="fixed_frame" type="string" value="base_link" />
	</node>

	<!-- start object finder node -->
	<param name="debugging" type="bool" value="true" />
	<node pkg="object_finder_2d" type="object_finder_2d" name="object_finder_2d" output="screen" />

</launch>
