<?xml version="1.0"?>
<launch>

	<!-- Start the youbot -->
	<include file="$(find cleaner_alpha)/launch/youbot_driver.launch" />

	<!-- Upload youbot model to parameter server --> 
	<!-- TODO: copy youbot.urdf.xacro -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find grab_demo)/robots/youbot.urdf.xacro" />

</launch>
