<?xml version="1.0"?>
<launch>

	<!-- include original youbot driver launch file -->
	<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>

	<!-- Upload youbot model to parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find cleaner_alpha)/robots/youbot.urdf.xacro" />

	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
	  
</launch>

