<?xml version="1.0"?>
<launch>

	<!-- include original youbot driver launch file -->
	<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>

	<!-- launch sick tim laser scanner -->
	<node name="sick_tim551_2050001" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">
	    <!-- Enables TCP instead of USB connection -->
		 <param name="hostname" type="string" value="169.254.8.76" />
		 <param name="port" type="string" value="2111" />
		 <param name="timelimit" type="int" value="5" />
	</node>

	<!-- launch camera -->
<!--
	<include file="$(find openni_launch)/launch/openni.launch" />
-->

	<!-- launch robot state publisher -->
<!--
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="100.0" />
	</node>
-->	  
</launch>

